.container{
    height: 100vh;
}

#gameBoard{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    height: 20em;
    width: 20em;
}

#gameBoard div{
    background-color: blue;
    border: solid 1px black;
}